
.reel {
  width: 750px;
  height: 500px;
  position: relative;
  margin: auto;
}

.prev-btn, .next-btn {
  height: 60px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  position: absolute;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.15);
}

.prev-btn:active, .next-btn:active {
  scale: 0.95;
  background-color: rgba(0, 0, 0, 0.30);
}

.prev-btn {
  left: 0.75rem;
}

.next-btn {
  right: 0.75rem;
}

.slide {
  position: absolute;
  background-color: lightcoral;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  opacity: 0;
  transition: 400ms ease-in-out;
  transition-delay: 400ms;
}

.slide[data-active] {
  opacity: 1;
  transition: 400ms ease-in-out;
}